{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    <div class="page-width">
      {%- if section.settings.title != blank -%}
        <div class="title-wrapper-with-link title-wrapper--self-padded-mobile">
          <h2 class="title {{ section.settings.heading_size }}">
            {{ section.settings.title | escape }}
          </h2>
          {%- if section.settings.show_view_all and section.settings.collection.all_products_count > section.settings.products_to_show -%}
            <a href="{{ section.settings.collection.url }}" class="link underlined-link large-up-hide">
              {{ 'sections.featured_collection.view_all' | t }}
            </a>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="featured-collection__grid">
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <div class="featured-collection__item">
            {% render 'card-product',
              card_product: product,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating
            %}
          </div>
        {%- else -%}
          {%- for i in (1..4) -%}
            <div class="featured-collection__item">
              <div class="card-wrapper">
                <div class="card card--product">
                  <div class="card__inner">
                    <div class="card__media">
                      <div class="media media--transparent">
                        {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {%- endfor -%}
        {%- endfor -%}
      </div>

      {%- if section.settings.show_view_all and section.settings.collection.all_products_count > section.settings.products_to_show -%}
        <div class="center">
          <a href="{{ section.settings.collection.url }}" class="button">
            {{ 'sections.featured_collection.view_all' | t }}
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Collection Lotus",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "Maximum products to show"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "Enable view all button"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show second image on hover"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "Show product vendor"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": true,
      "label": "Show product rating"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        }
      ],
      "default": "background-1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Featured Collection Lotus",
      "settings": {
        "products_to_show": 4
      }
    }
  ]
}
{% endschema %} 